<footer>
  <div class="container">
    <div class="row ml-auto">
      <div class="col-lg-7 ">
        <div class="row">
          Patipol Wangjaitham
        </div>
      </div>
    </div>
  </div>
</footer>
