<div class="container main-container">
  <%= form_for :course, url: courses_path do |f| %>
    <div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h2>Create Course</h2>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="form-group register-form-group col-md-6">
				<label class="col-md-6 label-layout field-label-responsive" for="course">Course</label>					
				<div class="input-group">
					<div class="input-group-addon"><i class="fa fa-book icon-layout"></i></div>
					<%= f.text_field :name, class: "form-control", autofocus: true %>
				</div>
			</div>
		</div>
    <div class="row">
			<div class="form-group register-form-group col-md-6">
				<label class="col-md-6 label-layout field-label-responsive" for="course_id">Course ID</label>											
				<div class="input-group">
					<div class="input-group-addon"><i class="fa fa-star icon-layout"></i></div>
					<%= f.text_field :course_id, class: "form-control", autofocus: true %>
				</div>
			</div>
		</div>
    

    <div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<%= f.button fa_icon('user-plus', text: 'Create'), type: :submit, class: 'btn btn-success' %>
			</div>
		</div>
  <% end %>
</div>